
<ul>
  <div (click)="onPokeClicked(pokemon.name)" class="pokemon-listItem hvr-radial-out" *ngFor="let pokemon of (res | async)?.results">
    {{pokemon.name}}
  </div>


  <div class="row">
    <a *ngFor="let link of linksArray" [routerLink]="['/pokemons/page', link]" [ngClass]="{'disabled': currentPage == link }"
      class="pagination">{{link}}</a>

  </div>

<div class="container">
  <div class="pokeList">
    <ul>
      <li *ngFor="let pokemon of (res | async)?.results">
        <div class="row"> Name : {{pokemon.name}}</div>
        <div class="row"> Id : {{pokemon.id}}</div>
      </li>
    </ul>
  </div>
  <div class="basPage">
      <img class="imgPoke" src="../assets/img/pokedex.svg" alt="pokeball">
  </div>
</div>