<div class="container-fluid">
  <div id="titre_principal">
    <div id="logo">
      <img src="https://vignette3.wikia.nocookie.net/whatever-you-want/images/6/66/Pokedex_Kanto.png/revision/latest?cb=20140106170154"
        alt="image pokédex" />

      <nav class="navbar">
        <ol>
          <li class="pokeball1"><a target="_blank" href="https://aldomann.github.io/random/pokemixer/">Fusionne les pokemons!</a></li>
          <li class="pokeball2"><a target="_blank" href="https://www.pokemon.com/fr/">Site officiel</a></li>
        </ol>
      </nav>
    </div>

  </div>

  <div id="banniere_image">
    <div id="banniere_description">
      Les compagnons au fil des saisons...
    </div>
  </div>

</div>