<div class="container-fluid">
  <div id="titre_principal">
    <div id="logo">
      <img src="https://vignette3.wikia.nocookie.net/whatever-you-want/images/6/66/Pokedex_Kanto.png/revision/latest?cb=20140106170154"
        alt="image pokédex" />

      <nav>
        <ol>
          <li class="pokeball1"><a href="https://aldomann.github.io/random/pokemixer/">Fusionne les pokemons!</a></li>
          <li class="pokeball2"><a href="https://www.pokemon.com/fr/">Site officiel</a></li>
          <li class="pokeball3"><a href="#">Google Connection</a></li>
          <li class="pokeball4"><a href="#">Facebook Connection</a></li>
          <li class="pokeball5"><a href="#">My pokédex</a></li>
        </ol>
      </nav>
    </div>
  </div>

  <div id="banniere_image">
    <div id="banniere_description">
      Les compagnons au fil des saisons...
    </div>
  </div>

</div>