<app-header></app-header>



  <h1><a href="https://fontmeme.com/fr/police-pokemon/"><img src="https://fontmeme.com/permalink/171012/7af314e0e72790a17fae42a044ce4a48.png" alt="police-pokemon" border="0"></a></h1>
  
  <form>
      <input class="textSearch" type="text" name="nom" size="30" placeholder="Nom du pokémon" />
      <a href="#" class="btnSearch hvr-radial-out">Rechercher</a>
  </form>
  <div class="col-md-12 pokemon">
    <app-dashboard [onPokemonChosen]="onPokemonChosen"></app-dashboard>
    <app-details *ngIf="pokemonName" [name]="pokemonName"></app-details>
  </div>
  

  <app-footer></app-footer>